<template>
  <div class="c-clip">
    <div class="c-clip__wrap">
      <span>i</span>
      <h1>Hey</h1>
      <p>This is an informative card that will tell you something that's... well, important!</p>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Component'
}
</script>

<style scoped lang="scss">
.c-clip {
  width: 100%;
  height: calc(100vh - 100px);

  display: flex;
  justify-content: center;
  align-items: center;

  &__wrap {
    background: rgb(9, 201, 153);
    padding: 1em;
    border-radius: 10px;
    width: 250px;
    clip-path: circle(10% at 90% 20%);
    transition: all .5s ease-in-out;
    cursor: pointer;
    text-align: left;

    &:hover {
        clip-path: circle(75%);
        background: #00B6FF;
    }

    h1 {
        color: white;
        margin: 0;
    }

    p {
        color: white;
        font-size: .8rem;
    }
    span {
        float: right;
        color: white;
        font-weight: bold;
        transition: color .5s;
        position: relative;
        margin-right: 4%;
    }
    &:hover span {
        color: rgba(255,255,255,0)
    }
  }
}
</style>
