<template>
  <div class="clip">
    <Cssing />
  </div>
</template>

<script>
// @ is an alias to /src
import Cssing from '@/components/Cssing'

export default {
  name: 'Cssing',
  components: {
    Cssing
  }
}
</script>
