<template>
  <div class="swiper">
    <swiper
    :slides-per-view="3"
    :space-between="50"
    @swiper="onSwiper"
    @slideChange="onSlideChange"
    class="swiper">
      <swiper-slide>
        <img src="../assets/slide-1.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/slide-2.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/slide-3.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/slide-4.jpg" alt="">
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/slide-5.jpg" alt="">
      </swiper-slide>
    </swiper>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'swiper/vue';

export default {
  name: 'Home',
  components: {
    Swiper,
    SwiperSlide,
  }
}
</script>

<style lang="scss">
.swiper {
  width: 600px;
  height: 400px;

  &__wrap {
    width: 100%;
    height: 100%;
    display: flex;
  }

  &__item {

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
</style>